<div class='rect' ></div>
<div class='circle1'></div>
<div class='circle2'></div>
<div class='circle3'></div>
<style>
  .rect {
    width: 300px;
    height: 150px;
    position: absolute;
    right:50;
    top:75;
    background: #243D83;
  }
  .circle1{
    width:250px;
    height:250px;
    position:absolute;
    top:25;
    left:75;
    border-radius:100%;
    background: #6592CF;
  }
  .circle2{
    width:150px;
    height:150px;
    position:absolute;
    top:75;
    left:125;
    border-radius:100%;
    background:#243D83;
  }
  .circle3{
    width:50px;
    height:50px;
    position:absolute;
    top:125;
    left:175;
    border-radius:100%;
    background:#EEB850;
  }
  body{
    background:#6592CF;
  }
</style>
