<div class='r1' >
</div><div class='r2' >
</div><div class='r3' >
</div>
<style>
body{
  background:#62306D;
}
.r1
{
  height: 100px;width:100px;position: absolute; left:50;top:150px;border-radius:0 0 100px 100px;background:#F7EC7D;
}
.r2
{
  height:100;width:100;border-radius:100% 100% 0 0;position: absolute;left:150;top:50;background:#F7EC7D;
}
.r3
{
  height: 100;width:100;border-radius:0 0 100% 100%;position: absolute;left:250;top:150;background:#F7EC7D;
}
</style>
